@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../Fonts/Montserrat-SemiBold.ttf');
}

#root {
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

#title {
    -fx-fill: white;
}

.scroll-pane {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: FFFFFF;
}

#border {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: FFFFFF;
}

#rollDiceButton {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: FFFFFF;
}

#bold {
    -fx-font-family: "Montserrat Bold";
}

#text {
    -fx-font-family: "Montserrat";
}

.hover {
    -fx-cursor: hand;
}