#root {
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #434C5E;
}

#root2 {
    -fx-background-color: #434C5E;
}

#title {
    -fx-fill: white;
}

.scroll-pane {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-background-color: FFFFFF;
}

.border {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

#actionLogText{
    -fx-background-color: #FFFFFF;
}

#cardsScrollPanel {
    -fx-background-color: #FFFFFF;
}

#cardsPanel {
    -fx-background-color: #FFFFFF;
}

#border {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
}

#rollDiceButton {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: FFFFFF;
}

.hover {
    -fx-cursor: hand;
}

.textt {
    -fx-fill: #000000;
}

.darker {
    -fx-fill: #FFFFFF;
}

.text-area {
    text-area-background: #FFFFFF ;
    -fx-text-fill: #000000;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-text-fill: #000000;
}